*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background: rgb(43,88,118);
    background: linear-gradient(0deg, rgba(43,88,118,1) 0%, rgba(78,67,118,1) 100%);
    overflow-x: hidden;
}

/* font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif; */